span {
  color: white;
}
.container {
  font-size: 1.5em;
  padding: 0 0 0 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: left;
}
.currency {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.header {
  font-size: 3em;
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px 0 30px 60px;
}
@media (max-width: 1070px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }
  .header {
    font-size: 2.5em;
  }
}
@media (max-width: 520px) {
  .container {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }
  .header {
    font-size: 2em;
  }
}
